.git
.github
.vscode
node_modules
**/node_modules
.nuxt
.output
dist
coverage
!apps/music/.output
!apps/music/.output/**
apps/trader/.env
apps/trader/.nuxt
apps/trader/.output
apps/trader/artifacts
specs
*.log
